<!doctype html>
<head>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js'></script>
  <script src='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js'></script>
  
  <!-- canvasXpress js -->
<script src="{{ url_for('static', filename='js/canvasXpress-SF/js/canvasXpress.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/canvasXpress-SF/js/functions.js') }}"></script>

  <script src="{{ url_for('static', filename='js/bddb.js') }}"></script>

  <link rel='stylesheet' type='text/css' href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css'>
  <link rel='stylesheet' type='text/css' href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css">
  <link rel='stylesheet' type='text/css' href="http://bootswatch.com/united/bootstrap.min.css">

  <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='js/canvasXpress-SF/css/canvasXpress.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bddb_site.css') }}">


  {% block head %}
  <title>{% block title %}{% endblock %} Broad Domain Database</title>
  {% endblock %}

</head>

<body>
<div class="container" id="banner">
  <div class='span12'>
    {% block header %}
    <h1>Broad Domain Database</h1>
    {% endblock %} <!-- end header block -->
  </div>
</div> <!-- end banner div -->

<div id='content'>
    <div class='navbar'>
      <div class='navbar-inner'>
<!--	<a class='brand' href='#'>Title</a> -->
	<ul class='nav'>
	  <li class="active"><a href='/'>Home</a></li>
	  <li><a href='/search'>Search</a></li>
	  <li><a href='/upload'>Upload data</a></li>
	</ul>
      </div> <!-- end navbar-inner -->
    </div> <!-- end navbar -->
	    
    {% block content %}{% endblock %}
</div> <!-- end content div -->

<div id='footer' class='container-fluid'>
<hr>
  <div class="row-fluid">
    <div class='span12'>
    {% block footer %}
    &copy; Copyright 2012, <a href="http://www.stanford.edu/group/brunet/">Brunet Lab</a>
 | About us | Contact us | <a href="http://www.stanford.edu/site/terms.html">Site use</a>
    {% endblock %} <!-- end footer block -->
    </div> <!-- end span12 -->
    </div> <!-- end row-fluid -->
</div> <!-- end footer div -->

</body>


