<div id='filter' class="accordion-group">
  <div class='accordion-heading'>
    <a class='accordion-toggle' data-toggle="collapse" data-parent="#left-col" href="#filter_collapse"><h5>Filter by:</h5></a>
  </div> <!-- end accordion heading -->
  
  <div id='filter_collapse' class='accordion-body collapse'>
    <div class="accordion-inner">
      <form class='form-inline' method='get' name='filter_form' id='filter_form' action="{{ url_for('filter_genes') }}">

	<div class="accordion" id="filt-in-collapse">
	  <div class="accordion-group"> <!-- species accordion group -->
	    <div class="accordion-heading">
	      <a class="acccordion-toggle" data-toggle="collapse" data-parent="#filt-in-collapse" href="#species_filt"><h6>Species:</h6></a> </div> <!-- end accordion-heading -->
	    <div id='species_filt' class="accordion-body collapse">
	      <div class="accordion-inner"><button type='button' class="btn btn-danger btn-small" data-toggle="button" id="allSpecies">Toggle all</button>
		<div id='species-grp' class="btn-grp" data-toggle="buttons-checkbox">
		{% for each in species_list %}
		<button type="button" class="btn btn-small speciesBut" id='{{ each.species_id }}' data-value='{{ each.species_id }}'>
		  {{ each.name }}</button>	
		{% endfor %}
		</div> <!-- end button group -->
	      </div> <!-- end accordion-inner -->
	    </div> <!-- end species-filt accordion-body-->
	 </div> <!-- end filter accordion group -->

       	<div class="accordion-group"> <!-- tissue accordion group -->
	  <div class="accordion-heading">
	    <a class="acccordion-toggle" data-toggle="collapse" data-parent="#filt-in-collapse" href="#tissue_filt"><h6>Tissue type:</h6></a></div>
	  <div id='tissue_filt' class="accordion-body collapse">
	    <div class="accordion-inner">
	      {% for tissue_type in tissues_list %}
	      <label class="checkbox">	
		<input type="checkbox" class="tissueBox" id="{{ tissue_type.uberon_term }}"  value="{{ tissue_type.uberon_id }}">{{ tissue_type.uberon_description }}
	      </label>
	      {% endfor %}
	    </div> <!-- end accordion-inner -->
	  </div> <!-- end tissue_filt accordion-body  -->
	</div> <!-- end accordion group for tissues-->
	
	<div class="accordion-group"> <!-- method accordion group -->
	  <div class="accordion-heading">
	    <a class="acccordion-toggle" data-toggle="collapse" data-parent="#filt-in-collapse" href="#method_filt"><h6>Method:</h6></a></div>
	  <div id='method_filt' class="accordion-body collapse">
	    <div class="accordion-inner">
	      {% for method in methods_list %}
	      <label class="checkbox">	
		<input type="checkbox" class="methodBox" id="{{ method.wet_name }}-{{ method.dry_name }}"  value="{{ method.method_id }}">{{ method.wet_name }}-{{ method.dry_name }}
	      </label>
	      {% endfor %}
	    </div> <!-- end accordion-inner -->
	  </div> <!-- end method_filt -->
	</div> <!-- end accordion group for method -->
	</div> <!-- end inner accordion collapse -->
	
      </form> <!-- end filter form -->
    </div> <!-- end accordion-inner -->
  </div> <!-- end filter_collapse -->
</div> <!-- end filter -->
