<div id='homologs'>
<div class='row-fluid'>
<div class='span3'><b>Homolog:</b></div>
</div>

<div class='row-fluid offset1'>Entrez ID: <a href='http://www.ncbi.nlm.nih.gov/gene?db=gene&term={{ gene.homolog.entrezId }}'>{{ gene.homolog.entrezId }}</a></div>
<div class='row-fluid offset1'>
Name: <button id='{{ gene.homolog.entrezId}}' class='btn btn-link geneButton' name='geneName' value='{{ gene.homolog.geneName }}'>{{ gene.homolog.geneName }}</button>
</div>
<div class='row-fluid offset1'>Description: {{ gene.homolog.description }}</div>

</div> <!-- end homologs -->
