<div class="pagination pagination-centered">
<ul id='page_list'>
    {% set prev = active_pg - 10 %}
    {% set next = active_pg + 10 %}
    {% if prev < 1 %}
       {% set prev = 1 %}
    {% endif %}
    
    {% if prev != active_pg %}
         <li class='pageBut' value='{{ prev }}'><a href="#">Prev</a></li>
    {% endif %}

      {% if (active_pg + 10) > (max_pages + 1) %}
           {% set maxPage = max_pages + 1 %}
           {% set next = maxPage %}
      {% else %}
           {% set maxPage = active_pg + 10 %}
      {% endif %}

     {% for num in range(active_pg, maxPage) %}
    
	{% if num == active_pg %}
	  <li class= 'pageBut active' value='{{ num }}'>
	{% else %}
	   <li class ='pageBut' value='{{ num }}'>
	{% endif %}
	     
        <a href="#">{{ num }}</a></li>
	   
      {% endfor %}
    {% if next != active_pg and  maxPage != 1%}
	
        <li class='pageBut' value='{{ next }}'><a href="#">Next</a></li>

    {% endif %}
</ul>
</div>

