<div id='peakMap'>
    <div class='btn-grp' id='geneButtons' data-toggle='buttons-radio'>
      {% for geneObj in gene_list %}
          <button id='{{ geneObj.entrezId }}' class='btn btn-link btn-mini geneButton' name='geneName' value='{{ geneObj.geneName }}'>{{ geneObj.geneName }}</button>
      {% endfor %}

    </div>

    <div id="heatMapInfo">
      <form name='heatMapData'>
      {% if gene is defined %}
          <input type='hidden' id='geneMapData{{ gene.entrezId }}' name='data' value= "{{ gene.peaksForDisp() }}">
          <input type='hidden' id="geneMapConfig{{ gene.entrezId }}" name='config' value= "{{ gene.peaksConfig }}">
	  <input type='hidden' id="geneMapEvent{{ gene.entrezId }}" name='config' value="{{ gene.peak_event }}">
      {% else %}
          <input type='hidden' id='mapData' name='data' value= "{{ json_data }}">
          <input type='hidden' id="mapConfig" name='config' value= "{{ json_config }}">
	  <input type='hidden' id="mapEvent" name='event' value= "{{ json_event }}">
      {% endif %}

      </form>
     </div>
      {% if gene is defined %}
         <canvas id='peakCanvas{{ gene.entrezId }}'></canvas>
      {% else %}
         <canvas id='manyPeaksCanvas'></canvas>
      {% endif %}
</div> <!-- end peakMap -->
