<div id='resultsTable'>
  
{% for oneGene in gene_list %}

  <button id="{{ oneGene.entrez_gene_id }}" class='btn btn-link btn-mini geneBut'>{{ oneGene.symbol }}</button>

{% endfor %}

</div><!-- end resultsTable -->
