{% extends "base.html" %}

{% block content %}
  {{ super() }}

<h4>UPLOAD DATA</h4>
<h5>Load a text file with broad domains below. The file will be reviewed and the data loaded into the Broad Domain database manually. Please include your name and email address with your submission.</h5>

<form action="" method="post" enctype="multipart/form-data">
<input id='name' name='name' type="text" class="input-large" placeholder="Name">
<input id='email' name='email' type="text" class="input-large" placeholder="Email">
<p><input type='file' name='file'>
<input id="upload" type='submit' value='Upload'>
</form>
{% endblock %}


